# Introduction to Genotype-Phenotype Map Module

This notebook a brief introduction to how the genotype-phenotype map module works.

External imports for plotting and other utilities

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

Imports from `gpm` module.

In [2]:
from gpmap.gpm import GenotypePhenotypeMap

Let's define and arbitrary space. Everything in the cell below will typically be given to you by the experimental data.

In [3]:
from gpmap import utils

# Wildtype sequence
wt = "AAA"

# Micro-managing here, stating explicitly what substitutions are possible at each site.
# See documentation for more detail.
mutations = {
    0:utils.DNA,
    1:utils.DNA,
    2:["A","T"]
}
encoding_table = utils.get_encoding_table(wt, mutations)

genotypes = utils.mutations_to_genotypes(mutations, wildtype=wt)
binary = utils.genotypes_to_binary(genotypes, encoding_table)

# Generate random phenotype values
phenotypes = np.random.rand(len(genotypes))

## Creating a Genotype-phenotype map instance

Create an instance of the `GenotypePhenotypeMap` object, passing in the wildtype sequence, genotypes and their phenotypes, and the substitution map.

In [4]:
from gpmap.gpm import GenotypePhenotypeMap

In [5]:
gpm = GenotypePhenotypeMap(wt, # wildtype sequence
                   genotypes, # genotypes
                   phenotypes, # phenotypes
                   stdeviations=None, # errors in measured phenotypes
                   log_transform=False, # Should the map log_transform the space?
                   mutations=mutations # Substitution map to alphabet 
)

In [6]:
gpm.data

   genotypes  phenotypes  n_replicates stdeviations   binary  n_mutations
0        AAA    0.959714             1         None  0000000            0
1        AAT    0.040474             1         None  0000001            1
2        ACA    0.191467             1         None  0001000            1
3        ACT    0.659434             1         None  0001001            2
4        AGA    0.303127             1         None  0000100            1
5        AGT    0.617443             1         None  0000101            2
6        ATA    0.498385             1         None  0000010            1
7        ATT    0.120876             1         None  0000011            2
8        CAA    0.157659             1         None  1000000            1
9        CAT    0.719523             1         None  1000001            2
10       CCA    0.181312             1         None  1001000            2
11       CCT    0.590966             1         None  1001001            3
12       CGA    0.728670             1         None  1000100            2
13       CGT    0.825209             1         None  1000101            3
14       CTA    0.832555             1         None  1000010            2
15       CTT    0.971384             1         None  1000011            3
16       GAA    0.041217             1         None  0100000            1
17       GAT    0.035292             1         None  0100001            2
18       GCA    0.876725             1         None  0101000            2
19       GCT    0.291822             1         None  0101001            3
20       GGA    0.527104             1         None  0100100            2
21       GGT    0.492613             1         None  0100101            3
22       GTA    0.749004             1         None  0100010            2
23       GTT    0.121560             1         None  0100011            3
24       TAA    0.088041             1         None  0010000            1
25       TAT    0.099197             1         None  0010001            2
26       TCA    0.891447             1         None  0011000            2
27       TCT    0.289377             1         None  0011001            3
28       TGA    0.026427             1         None  0010100            2
29       TGT    0.138790             1         None  0010101            3
30       TTA    0.077798             1         None  0010010            2
31       TTT    0.534395             1         None  0010011            3